@font-face {
    font-family: BoisuFull;
    src: url(../assets/fonts/Boisu-Full.otf);
}
@font-face {
    font-family: BoisuStroke;
    src: url(../assets/fonts/Boisu-Stroke.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --headerFont-h1: BoisuStroke;
    --headerFont-hx: BoisuFull;
    --mainFont: 'Josefin Sans', sans-serif;
    --font-size: 16px;

    --base-color: 213, 55%;
    --color-main-20: hsla(var(--base-color), 13%, 100%);
    --color-main-20-no-alpha: hsl(var(--base-color), 13%);
    --color-main-50: hsla(var(--base-color), 33%, 100%);

    --base-accent: 22;
    --color-accent-high: hsl(var(--base-accent),89% , 55%);
    --color-accent-low: hsl(var(--base-accent),82% , 71%);
}
body {
    font-family: var(--mainFont);
    font-size: var(--font-size);
    color: var(--color-main-20);
    max-width: 100vw;
    min-width: 23em;
}

/* Mobile setup */

header {
    position: relative;
    height: 31.68em;
    padding: 30px;
    margin-bottom: 6rem;
    background:
        linear-gradient(var(--color-accent-high), hsla(22, 81%, 59%, 35%)),
        url(../assets/images/toa-heftiba-412579.jpg),
        no-repeat;
    background-size: cover
}
.hamburger {
    top: -12px;
    float: right;
    position: relative;
    height: 2px;
    width: 15px;
    background-color: var(--color-main-20);
}
.hamburger::before,
.hamburger::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15px;
    background-color: var(--color-main-20);
}
.hamburger::before {
    top: -5px;
}
.hamburger::after {
    top: 5px;
}
nav, #checkbx {
    display: none;
}
#checkbx:checked ~ nav {
    display: block;
}
nav {
    position: fixed;
}

h1 {
    display: grid;
    height: 20rem;
    max-width: 31rem;
    place-items: center;
    font-family: var(--headerFont-h1);
    font-size: 3em;
}
.cta-style__blue {
    background-color: var(--color-main-20);
    color: var(--color-accent-high);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--headerFont-hx);
    font-size: 1.4em
}
.cta-style__neutral {
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--headerFont-hx);
    font-size: 1.4em;
}
.cta-btn__blue--big {
    width: 9rem;
    height: 3.25rem;
    padding: 1.2rem 3rem;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}
.news,
.misc,
.exhibitions {
    margin: 0 30px; 
}
h2 {
    text-transform: uppercase;
    font-family: var(--headerFont-hx);
    font-size: 1.7em;
}
.news-cards__img,
.exhibitions-cards__img {
    display: block;
    width: 100%;
    height: 209px;
}
.news-cards,
.exhibitions-cards {
    height: 266px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    transition: transform .3s;
    cursor: pointer;
}
.news-cards:hover,
.exhibitions-cards:hover {
    transform: scale(1.02);
}
.news-cards__bar {
    height: 57px;
    display: flex;
    background-color: var(--color-main-20);
}
.news-cards__bar--text,
.exhibitions-cards__bar--text {
    padding: 15px 20px;
    height: 100%;
    align-self: center;
}
.exhibitions-cards__bar {
    display: flex;
    height: 57px;
}

.info {
    margin-top: 200px;
    position: relative;
    color: var(--color-accent-high);
    background: var(--color-main-20);
}
.info::before {
    content: '';
    background-image: url(../assets/images/small-decor-top.svg);
    top: -180px;
    left: -95px;
    right: -60px;
    width: 600px;
    position: absolute;
    height: 326px;
    z-index: -2;
}
.info::after {
    content: '';
    background-image: url(../assets/images/small-decor__bottom.svg);
    bottom: -95px;
    left: -95px;
    right: -60px;
    width: 600px;
    position: absolute;
    height: 326px;
    z-index: -2;
    rotate: 180deg;
}
.info-header {
    padding: 30px 0 40px 30px;
}
.info-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    height: max-content;
    min-height: 80vh;
    padding: 0 30px;
    justify-content: center;
    z-index: 1;
    box-shadow: 
        inset 35vw 0 20vw var(--color-main-20),
        inset 0 10vw 5vw var(--color-main-20),
        inset 0 -10vw 5vw var(--color-main-20);
}
.info-cards__header {
    position: relative;
    width: max-content;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: var(--headerFont-hx);
    font-size: 1.3rem;
}
.info-cards__header::before {
    position: absolute;
    display: block;
    content:'';
    height: 2px;
    width: 100%;
    background-color: var(--color-accent-high);
    bottom: 0;
}
.info-cards__text {
    padding-bottom: 20px;
    line-height: 1.3em;
    max-width: 60%;
    font-size: .85rem;
    color: #F2A579;
    font-weight: 300;
}
.info-cards__cta {
    width: max-content;
    border: 2px solid var(--color-accent-high);
    padding: 10px 20px 6px;
    color: var(--color-main-20);
    background: var(--color-accent-high);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s;
}
.info-cards__cta:hover {
    border: 2px solid var(--color-accent-high);
    background: var(--color-main-20);
    color: var(--color-accent-high);
}
.kids {
    background: 
        linear-gradient(.25deg, hsla(213,55%, 13%, 100%), hsla(213, 55%, 13%, 40%)),
        url(../assets/images/pexels-monstera-5063444.jpg),
        no-repeat;
    background-size: cover;
}
.teachers {
    background: 
    linear-gradient(.25deg, hsla(213,55%, 13%, 100%), hsla(213, 55%, 13%, 40%)),
    url(../assets/images/luke-ellis-craven-400722.jpg),
    no-repeat;
    background-size: cover;
    background-position-x: 50px;
}
.researcher {
    background: 
    linear-gradient(.25deg, hsla(213,55%, 13%, 100%), hsla(213, 55%, 13%, 40%)),
    url(../assets/images/billetto-editorial-334686.jpg),
    no-repeat;
    background-size: cover;
    background-position-x: -200px;
}

.misc {
    margin-top: 200px;
}