@font-face {
    font-family: BoisuFull;
    src: url(../assets/fonts/Boisu-Full.otf);
}
@font-face {
    font-family: BoisuStroke;
    src: url(../assets/fonts/Boisu-Stroke.otf);
}
@font-face {
    font-family: 'library-font';
    src: url(../assets/fonts/Library\ 3\ am.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
*:focus {
    outline: none;
}
:root {
    --headerLarge: 'library-font', sans-serif;
    --headerFont-h2: 900 'Nunito Sans', sans-serif;
    --headerFont-h3: 700 'Nunito Sans', sans-serif;
    --mainFont: 'Josefin Sans', sans-serif;
    --font-size: 1rem;
    font-size: var(--font-size);
    
    --base-color: 213, 55%;
    --color-main-20: hsla(var(--base-color), 13%, 100%);
    --color-main-20-no-alpha: hsl(var(--base-color), 13%);
    --color-main-50: hsla(var(--base-color), 33%, 100%);

    --base-accent: 22;
    --color-accent-high: hsl(var(--base-accent),89% , 55%);
    --color-accent-low: #F2A579;
}
html {
    overflow-x: hidden;
}
body {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    font-family: var(--mainFont);
    color: var(--color-main-20);
    overflow-x: hidden;
    background-image: linear-gradient(180deg, #F5F5F5, white 80%);
}
.kids-margin,
header,
.info,
.booking-container,
.footer-container,
.jobs-margin {
    max-width: clamp(375px, 100vw, 1600px);
}
/* Mobile setup */

header {
    position: relative;
    color: white;
    z-index: 6;
    font-family: var(--mainFont);
    margin: 0 auto 8rem;
    padding: 2.2rem 2.2rem 0;
}
.header-background,
.header-background__small {
    position: relative;
    background: url(../assets/images/stefan-pflaum-zpXK__TvyAw-unsplash\(1\).jpg) no-repeat right top;
    background-size: cover;

}

.header-background,
header {
    height: clamp(100vh, 50em, 150vh);
}
.header-background:before {
    content: '';
    position: absolute;
    mix-blend-mode: multiply;
    inset: 0;
    background-color: var(--color-accent-high);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 75%);
    z-index: 5;
}
.hero-container {
    margin-top: clamp(3rem, 10vw, 8%);
}
h1 {
    text-transform: uppercase;
}
.hero-container h1 {
    display: table-caption;
    font-family: var(--headerLarge);
    font-size: clamp(1rem, 8vw, 5rem);
}
.hero-container a {
    display: block;
    padding: 0.7rem 1.2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2rem;
    background-color: var(--color-main-20);
    width: max-content;
    border-radius: .2rem;
}
.logo {
    width: 200px;
    margin-right: auto;
}
input.mobile {
    display: none;
}
nav{
    width: 50px;
    height: max-content;
}
.logo-nav {
    display: flex;
    width: 100%;
    position: relative;
}
.logo-nav img {
    cursor: pointer;
    margin-right: auto;
}
.logo-nav img:hover {
    animation: bouncy-logo .3s;
    animation-iteration-count: 2;
}
@keyframes bouncy-logo {
    0%, 100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-2px);
    }
}
.nav-menu,
.nav-menu__sub--company,
.nav-menu__sub--exhib {
    display: none;
}
.nav-btn {
    display: inline-block;
    /* float: right; */
    padding: 1em;
    background-color: rgba(189, 141, 141, 0.343);
    cursor: pointer;
    position: relative;
    z-index: 4;
}
.nav-icon {
    position: relative;
    display: block;
    width: 15px;
    height: 2px;
    background-color: var(--color-accent-high);
    transition: background .4s ease-out;
}
.nav-icon::before,
.nav-icon::after {
    position: absolute;
    content: '';
    background-color: var(--color-accent-high);
    display: block;
    height: 100%;
    width: 100%;
    transition: all .4s ease-out;
}
.nav-icon::before {
    top: 5px;
}
.nav-icon::after {
    top: -5px;
}
.nav-menu:checked ~ .nav-btn .nav-icon {
    background: transparent;
}
.nav-menu:checked ~ .nav-btn .nav-icon::after,
.nav-menu:checked ~ .nav-btn .nav-icon::before {
    top: 0;
}
.nav-menu:checked ~ .nav-btn .nav-icon::after {
    transform: rotate(-45deg);
}
.nav-menu:checked ~ .nav-btn .nav-icon::before {
    transform: rotate(45deg);
}
nav ul {
    list-style: none;
}
nav label {
    cursor: pointer;
}
.totals-menu {
    position: absolute;
    top: -2.2em;
    left: -2.2em;
    right: 0;
    max-height: 0;
    padding: 0;
    background: rgba(16, 14, 14, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    clear: both;
    overflow: hidden;
    transition: padding 0s linear, max-height 0s ease-in;
    width: 100vw;
    z-index: 2;
}
.nav-menu:checked ~ .totals-menu {
    max-height: 600px;
    padding: 2.2em;
}

.totals-menu a,
.totals-menu label {
    text-decoration: none;
    color: white;
    padding: .5em;
    display: block;
    width: max-content;
}
.active-page {
    background-image: linear-gradient(var(--color-accent-high), var(--color-accent-high));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.totals-menu a:hover,
.totals-menu label:hover,
.totals-menu a:focus,
.totals-menu label:focus {
    animation-name: bouncy-color;
    animation-duration: 1.2s;
}
@keyframes bouncy-color {
    0%, 100% {
        background-image: linear-gradient(var(--color-accent-high), var(--color-accent-high));
        background-size: 100% 2px;
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    45%, 55% {
        background-size: 100% 98%;
        color: var(--color-main-20);
    }
}
.totals-menu__sub--company,
.totals-menu__sub--exhib {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out .2s;
    padding: 0;
}
.nav-menu__sub--company:checked ~ .totals-menu__sub--company,
.nav-menu__sub--company:hover ~ .totals-menu__sub--company,
.nav-menu__sub--company:focus ~ .totals-menu__sub--company,
.totals-menu__sub--company:hover,
.totals-menu__sub--company > li > a:focus,
.nav-menu__sub--exhib:checked ~ .totals-menu__sub--exhib,
.nav-menu__sub--exhib:hover ~ .totals-menu__sub--exhib,
.totals-menu__sub--exhib:hover {
    max-height: 500px;
}
.cta-style__blue {
    background-color: var(--color-main-20);
    color: var(--color-accent-high);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--headerFont-h3);
    font-size: 1.4rem
}
.cta-style__neutral {
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--headerFont-h3);
    font-size: 1.4rem;
}
.cta-btn__blue--big {
    display: block;
    width: max-content;
    padding: .5em 2em;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}
.margin-main {
    margin: 0 auto;
    max-width: clamp(375px, 100vw, 1600px);
}
.news,
.misc,
.exhibitions,
.jobs-margin,
.about-container,
.exhib-news,
.info {
    margin: 0 2.2em 3em;
}

.grid-content__news,
.grid-content__exhib,
.misc-top__items,
.misc-bottom__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.misc-header__divider,
.misc-bottom__divider {
    flex: 1 1 305px;
    margin: .5em;
    background-color: rgb(240, 240, 245);
    padding: 2em 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.misc-bottom__divider {
    justify-content: flex-start;
}
.misc-bottom__items {
    margin-top: 5em;
}
.news-cards,
.exhibitions-cards {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    transition: transform .3s;
    cursor: pointer;
    flex: 1 1 280px;
    margin: .5em;
}
h2 {
    text-transform: uppercase;
    font-family: var(--headerFont-h2);
    font-size: 1.7rem;
    margin: 0 .5rem .3em;
}
.news>h2 {
    margin-top: 3em;
}
.news-cards__img,
.exhibitions-cards__img,
.misc-bottom__img,
.kids-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 22rem;
}
.news-cards:hover,
.exhibitions-cards:hover {
    transform: scale(1.02);
}
.news-cards__bar {
    display: flex;
    background-color: var(--color-main-20);
}
.news-cards__bar--text,
.exhibitions-cards__bar--text {
    padding: .4em;
    align-self: center;
}
.exhibitions-cards__bar {
    display: flex;
    background-color: white;
}
.info-cards.kids,
.info-cards.researcher,
.info-cards__teacher--container {
    position: relative;
    padding: 6rem 2rem;
    display: grid;
    place-items: start;
    height: 100%;
}
.kids,
.researcher {
    z-index: 6;
    width: clamp(60%, 40vw, 80%);
    color: white;
}
.info {
    padding: 7rem 0 18rem;
    position: relative;
    z-index: 2;
    filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.4)) drop-shadow(-3px -4px 5px rgba(0, 0, 0, 0.4));
}
.info::before {
    content: '';
    position: absolute;
    width: 150vw;
    background-color: rgb(255, 255, 255);
    height: 100%;
    inset: 0;
    left: -20vw;
    clip-path: 
        polygon(0 0, 0% 93%, 9% 90%, 15% 95%, 40% 97%, 50% 93%, 60% 92%, 66% 96%, 77% 99%, 100% 92%, 100% 5%, 91% 10%, 74% 3%, 57% 4%, 35% 0%, 14% 5%);
    z-index: 0;
}

.info-cards__background {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin: 4rem .5rem;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}
.info-cards__background:first-of-type {
    background-image: url(../assets/images/pexels-monstera-5063444.jpg);
    background-position: center center;
}
.info-cards__background:last-of-type {
    background-image: url(../assets/images/billetto-editorial-334686.jpg);
    background-position: center;
}
.info-cards__background::before {
    content: '';
    position: absolute;
    mix-blend-mode: multiply;
    inset: 0;
    background-color: var(--color-accent-high);
    clip-path: polygon(0 0, 85% 0, 55% 100%, 0 100%);
    z-index: 5;
}
.info-header {
    position: relative;
    margin-top: 8rem;
    z-index: 3;
}
.info-cards__header.noimage {
    background-image:
     linear-gradient(var(--color-main-20), var(--color-main-20));
}
.info-cards__header.image {
    background-image:
     linear-gradient(white, white);
}
.info-cards__header {
    text-transform: uppercase;
    font-size: 1.5rem;
    white-space: nowrap;
    /* CREDIT KEVIN POWELL #SHORTS */
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.info-cards__text {
    max-width: 30rem;
    margin: 1rem 0;
    font-size: clamp(.8rem, 4vw, 1.2rem);
    line-height: 1.5rem;
    letter-spacing: .1rem;
}
.info-cards__cta {
    white-space: nowrap;
    text-decoration: none;
    background: var(--color-accent-high);
    padding: .7rem 1.5rem;
    text-transform: uppercase;
    color: var(--color-main-20);
    font-weight: 700;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    transform: scale(1);
    transition: transform .2s ease-in-out;
}
.info-cards__cta:hover {
    transform: scale(1.05);
}
.teacher-image {
    display: none;
}
.misc {
    margin-top: 28vh;
    max-width: calc(100% - 1.1em);
}
.misc-header {
    text-transform: uppercase;
    font-family: var(--headerFont-h3);
    margin-bottom: .7vh;
}
.misc-header__divider--deep {
    display: flex;
    margin-bottom: auto;
}
.misc-header__divider--deep > ul + ul,
.misc-price > p + p {
    margin-left: auto;
}
.misc-header__divider--deep > ul + ul > li {
    list-style: none;
    text-align: right;
}
.misc-header__divider--deep > ul {
    padding-left: 0;
}
.misc-header__divider--deep > ul:first-of-type > li {
    list-style: none;
}
.misc-header__divider--deep li {
    text-transform: uppercase;
    line-height: 1.6em;
    font-weight: 300;
}
.misc-header__span {
    color: var(--color-accent-high);
}
.misc-top__items .misc-text, .misc ul {
    padding-bottom: 2.8vh;
    margin-bottom: auto;
}
.misc-bottom__divider > .misc-text {
    margin: auto 0 0 0;
    padding: 1em 0 0 0;
}
.misc-price {
    display: flex;
}
.misc-bottom__divider:first-of-type>img {
    cursor: pointer;
    width: 100%;
    height: auto;
    max-width: 460px;
}
.misc-button {
    font-size: 1.4rem;
    cursor: pointer;
    text-transform: uppercase;
    padding: .6em 2em .4em;
    border: 2px solid var(--color-main-20);
    font-weight: 700;
    margin-top: 10px;
    transition: all .3s;
    text-align: center;
}
.misc-button:hover {
    background: var(--color-main-20);
    color: var(--color-accent-high);
}
.misc-cta {
    display: inline-block;
    padding: .5em 2em;
    text-align: center;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    transition: all .3s;
    border: 2px solid var(--color-main-20);
}
.misc-cta:hover {
    transform: scale(1.03);
}
.misc-bottom__img {
    margin-bottom: 5px;
}

footer {
    position: relative;
    z-index: 1;
    margin-top: 10rem;
    background: var(--color-main-20);
    display: flex;
}
footer a,
footer {
    color: var(--color-accent-high);
}
footer::before {
    content: '';
    position: absolute;
    background-image: url(../assets/images/footer-decor.svg);
    background-position: center center;
    top: -11.3rem;
    left: -10rem;
    width: 150vw;
    height: 20rem;
    z-index: -1;
}
.footer-container {
    margin: 0 auto;
    flex-grow: 1;
    padding: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-container > * {
    flex: 1 1 305px;
    margin: .5rem;
}
.links {
    display: flex;
    flex-wrap: wrap;
}
.links > div {
    flex: 1 1 170px;
}
.links h3 {
    text-transform: uppercase;
}
.links ul {
    padding: 1rem 0;
    list-style: none;
}
.links a {
    color: var(--color-accent-low);
    text-decoration: none;
    text-transform: capitalize;
    background-image: linear-gradient(var(--color-accent-high), var(--color-accent-high));
    background-size: 0% 2px;
    background-position: bottom left;
    background-repeat: no-repeat;
    transition: all .1s ease-in;
}
.links a:hover,
.links a:focus {
    background-size: 100% 2px;
}
.links li:not(:first-of-type) {
    margin-top: .3rem;
}
.socials {
    margin-bottom: 5rem;
}
.socials p {
    max-width: 20rem;
    padding-bottom: 2rem;
}
.socials-icons__box:not(:first-of-type) {
    margin-left: 2rem;
}
.socials-icons {
    display: flex;
}
.socials-icons a {
    display: block;
    width: max-content;
}
.socials-icons a:focus {
    background-color: var(--color-main-50);
    border-radius: 5px;
}
.copy p {
    max-width: 20rem;
}
.copy p a:hover,
.copy p a:focus {
    color: var(--color-accent-low);
}
.copy p:not(:first-of-type) {
    margin-top: 1rem;
}

.kids-margin {
    margin: 0 2.2em;
}
.kids-margin h1,
.jobs-margin h1,
.about-container h1,
.exhib-news h1 {
    max-width: max-content;
    padding: unset;
    margin: .5rem;
}
.flex-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 .5em;
}
.flex-content > * {
    margin: 2em 0 0;
    flex: 1 1 305px;
}
.kids-text {
    display: grid;
    place-items: center;
    font-weight: 300;
    line-height: 1.6em;
}
.kids-margin > .cta-btn__blue--big {
    background-color: var(--color-main-20);
    color: var(--color-accent-high);
    text-transform: uppercase;
    text-overflow: 700;
    font-size: calc(var(--font-size) + .2rem);
    margin: 2em 0 3em .5em;
}

.kids-margin > img {
    height: 100%;
}
.jobs-margin {
    margin: 0 auto;
    padding: .5em;
}
.jobs-card {
    margin: 2em;
}
.jobs-margin > p {
    font: 2rem var(--headerFont-h3);
    text-transform: uppercase;
    margin-left: .5rem
}
.jobs-flex__container {
    max-width: clamp(600px, 100vw, 1600px);
    display: flex;
    flex-wrap: wrap;
}
.jobs-card {
    cursor: pointer;
    background: rgb(242, 242, 242);
    border-radius: 5px;
    margin: .5rem;
    padding: 1rem;
    width: fit-content;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    flex: 1 1 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: transform .3s, background .4s, color .5s;   
}
.jobs-card:hover,
.jobs-card:focus {
    transform: scale(1.01);
    background: var(--color-main-20);
    color: var(--color-accent-high);
    
}
.jobs-card h2 {
    margin-left: 0;
}
.jobs-card div {
    flex: 1 1 305px;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}
.jobs-card p {
    text-transform: uppercase;
}
.about-container img,
.exhib-news img {
    max-width: calc(100% - 1em);
    margin: .5em;
}
.about-container__text {
    margin: .5em;
}
.about-container__text p {
    font-weight: 300;
    line-height: 2em;
}
.about-container__text > p + p {
    margin-top: 2em;
}

/* BOOKING PAGE */

.booking-container {
    margin: 0 auto;
    padding: 2.2rem;
}
.booking-selection {
    width: clamp(375px, 100vw, 1600px);
}
.booking-selection>input {
    display: none;
}
.booking-selection label {
    cursor: pointer;
}
.booking-selection > div {
    background-image: url(../assets/images/khamkeo-vilaysing-a-KI-IGu01k-unsplash\ copy.jpg);
    background-position: top left;
    background-size: cover;
    height: 600px;
}
/* selecting variant */

#booking-tour,
#booking-school,
#booking-done,
#booking-tickets {
    display: none;
}
.booking-selection__btn[value="ticket"]:checked ~ #booking-tickets,
.booking-selection__btn[value="tour"]:checked ~ #booking-tour,
.booking-selection__btn[value="school"]:checked ~ #booking-school,
.booking-selection__btn[value="done"]:checked ~ #booking-done
{
    display: flex;
}
#booking-tickets > div {
    background-color: var(--color-accent-high);
    /* mix-blend-mode: multiply; */
    width: 30%;
    height: 600px;
}
#booking-tickets > div > p {
    color: white;
}
