@font-face {
    font-family: BoisuFull;
    src: url(../assets/fonts/Boisu-Full.otf);
}
@font-face {
    font-family: BoisuStroke;
    src: url(../assets/fonts/Boisu-Stroke.otf);
}
@font-face {
    font-family: 'library-font';
    src: url(../assets/fonts/Library\ 3\ am.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --headerLarge: 'library-font', sans-serif;
    --headerFont-h1: BoisuStroke;
    --headerFont-hx: BoisuFull;
    --mainFont: 'Josefin Sans', sans-serif;
    --font-size: 1rem;
    font-size: var(--font-size);

    --base-color: 213, 55%;
    --color-main-20: hsla(var(--base-color), 13%, 100%);
    --color-main-20-no-alpha: hsl(var(--base-color), 13%);
    --color-main-50: hsla(var(--base-color), 33%, 100%);

    --base-accent: 22;
    --color-accent-high: hsl(var(--base-accent),89% , 55%);
    --color-accent-low: #F2A579;
}
html {
    overflow-x: hidden;
}
body {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    font-family: var(--mainFont);
    color: var(--color-main-20);
    overflow-x: hidden;
}
.kids-margin {
    max-width: clamp(375px, 100vw, 1600px);
}
/* Mobile setup */

header {
    position: relative;
    color: white;
    z-index: 6;
    font-family: var(--mainFont);
    height: 100vh;
    max-width: clamp(375px, 100vw, 1600px);
    margin: 0 auto 8rem;
    padding: 2.2rem 2.2rem 0;
}
.header-background {
    position: relative;
    background: url(../assets/images/stefan-pflaum-zpXK__TvyAw-unsplash\(1\).jpg) no-repeat right top;
    background-size: cover;
    height: 100vh;
}
.header-background:before {
    content: '';
    position: absolute;
    mix-blend-mode: multiply;
    inset: 0;
    background-color: var(--color-accent-high);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 60%);
    z-index: 5;
}
.hero-container {
    margin-top: 12%;
}
.hero-container h1 {
    display: table-caption;
    font-family: var(--headerLarge);
    font-size: clamp(1rem, 8vw, 5rem);
}
.hero-container a {
    display: block;
    padding: 0.7rem 1.2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2rem;
    background-color: var(--color-main-20);
    width: max-content;
    border-radius: .2rem;
}
.logo {
    width: 200px;
    margin-right: auto;
}
input.mobile {
    display: none;
}
nav{
    width: 50px;
    height: max-content;
}
.logo-nav {
    display: flex;
    width: 100%;
    position: relative;
}
.logo-nav img {
    margin-right: auto;
}
.nav-menu,
.nav-menu__sub--company,
.nav-menu__sub--exhib {
    display: none;
}
.nav-btn {
    display: inline-block;
    float: right;
    padding: 1em;
    background-color: rgba(189, 141, 141, 0.343);
    cursor: pointer;
    position: relative;
    z-index: 4;
}
.nav-icon {
    position: relative;
    display: block;
    width: 15px;
    height: 2px;
    background-color: var(--color-accent-high);
    transition: background .4s ease-out;
}
.nav-icon::before,
.nav-icon::after {
    position: absolute;
    content: '';
    background-color: var(--color-accent-high);
    display: block;
    height: 100%;
    width: 100%;
    transition: all .4s ease-out;
}
.nav-icon::before {
    top: 5px;
}
.nav-icon::after {
    top: -5px;
}
.nav-menu:checked ~ .nav-btn .nav-icon {
    background: transparent;
}
.nav-menu:checked ~ .nav-btn .nav-icon::after,
.nav-menu:checked ~ .nav-btn .nav-icon::before {
    top: 0;
}
.nav-menu:checked ~ .nav-btn .nav-icon::after {
    transform: rotate(-45deg);
}
.nav-menu:checked ~ .nav-btn .nav-icon::before {
    transform: rotate(45deg);
}
nav ul {
    list-style: none;
}
nav label {
    cursor: pointer;
}
.totals-menu {
    position: absolute;
    top: -2.2em;
    left: -2.2em;
    right: 0;
    max-height: 0;
    background: rgba(16, 14, 14, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    clear: both;
    overflow: hidden;
    transition: max-height .4s ease-out ;
    width: 100vw;
    z-index: 2;
}
.totals-menu > li {
    padding: 0.5em;
}
.totals-menu > li:last-of-type {
    margin-bottom: 2.2em;
}
.totals-menu > li:first-of-type {
    margin-top: 2.2em;
}
.totals-menu a {
    text-decoration: none;
    color: white;
}
.totals-menu li:hover {
    background-color: rgba(189, 141, 141, 0.343);
    width: max-content;
}
.nav-menu:checked ~ .totals-menu {
    max-height: 600px;
}
.totals-menu__sub--company,
.totals-menu__sub--exhib {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out .2s;
    padding: 0;
}
.nav-menu__sub--company:checked ~ .totals-menu__sub--company,
.nav-menu__sub--exhib:checked ~ .totals-menu__sub--exhib {
    max-height: 500px;
}
.cta-style__blue {
    background-color: var(--color-main-20);
    color: var(--color-accent-high);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--headerFont-hx);
    font-size: 1.4rem
}
.cta-style__neutral {
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--headerFont-hx);
    font-size: 1.4rem;
}
.cta-btn__blue--big {
    display: block;
    width: max-content;
    padding: .5em 2em;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}
.margin-main {
    margin: 0 auto;
    max-width: clamp(375px, 100vw, 1600px);
}
.news,
.misc,
.exhibitions,
.jobs-margin,
.about-container,
.exhib-news {
    margin: 0 2.2em 3em;
}
.grid-content__news,
.grid-content__exhib,
.misc-top__items,
.misc-bottom__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.misc-header__divider,
.misc-bottom__divider {
    flex: 1 1 305px;
    margin: .5em;
    background-color: rgb(240, 240, 245);
    padding: 2em 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.misc-bottom__divider {
    justify-content: flex-start;
}
.misc-bottom__items {
    margin-top: 5em;
}
.news-cards,
.exhibitions-cards {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    transition: transform .3s;
    cursor: pointer;
    flex: 1 1 305px;
    margin: .5em;
}
h2 {
    text-transform: uppercase;
    font-family: var(--headerFont-hx);
    font-size: 1.7rem;
    margin: 0 .5rem .3em;
}
.news-cards__img,
.exhibitions-cards__img,
.misc-bottom__img,
.kids-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 30vh;
}
.news-cards:hover,
.exhibitions-cards:hover {
    transform: scale(1.02);
}
.news-cards__bar {
    display: flex;
    background-color: var(--color-main-20);
}
.news-cards__bar--text,
.exhibitions-cards__bar--text {
    padding: .4em;
    align-self: center;
}
.exhibitions-cards__bar {
    display: flex;
}

.info {
    max-width: 100vw;
    margin-top: 28vh;
    position: relative;
    color: var(--color-accent-high);
    background: var(--color-main-20);
}
.info::before {
    content: '';
    background-image: url(../assets/images/small-decor-top.svg);
    top: -180px;
    left: -95px;
    right: -60px;
    width: 120vw;
    position: absolute;
    height: 326px;
    z-index: -2;
}
.info::after {
    content: '';
    background-image: url(../assets/images/small-decor__bottom.svg);
    bottom: -95px;
    left: -95px;
    right: -60px;
    width: 120vw;
    position: absolute;
    height: 326px;
    z-index: -2;
    rotate: 180deg;
}
.info-header {
    padding: 4.2vh 0 5.7vh 2.7rem;
    margin-left: 0;
}
.info-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    height: max-content;
    min-height: 90vh;
    padding: 0 2.7rem;
    justify-content: center;
    z-index: 1;
    box-shadow: 
        inset 35vw 0 20vw var(--color-main-20),
        inset 0 10vw 5vw var(--color-main-20),
        inset 0 -10vw 5vw var(--color-main-20);
}
.info-cards__header {
    position: relative;
    width: max-content;
    text-transform: uppercase;
    margin-bottom: 4.2vh;
    font-family: var(--headerFont-hx);
    font-size: clamp(1.3rem, calc(1.3em + 1vw), 4rem);
}
.info-cards__header::before {
    position: absolute;
    display: block;
    content:'';
    height: 2px;
    width: 100%;
    background-color: var(--color-accent-high);
    bottom: 0;
}
.info-cards__text {
    padding-bottom: 2.8vh;
    line-height: 1.3em;
    max-width: 60%;
    font-size: clamp(var(--font-size), calc(var(--font-size) + 1vw), 3rem);
    color: var(--color-accent-low);
    font-weight: 300;
}
.info-cards__cta {
    width: max-content;
    border: 2px solid var(--color-accent-high);
    padding: 1.4vh 2.2vw .8vh;
    color: var(--color-main-20);
    background: var(--color-accent-high);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s;
}
.info-cards__cta:hover {
    border: 2px solid var(--color-accent-high);
    background: var(--color-main-20);
    color: var(--color-accent-high);
}
.kids {
    background: 
        linear-gradient(.25deg, hsla(213,55%, 13%, 100%), hsla(213, 55%, 13%, 40%)),
        url(../assets/images/pexels-monstera-5063444.jpg),
        no-repeat;
    background-size: cover;
}
.teachers {
    background: 
    linear-gradient(.25deg, hsla(213,55%, 13%, 100%), hsla(213, 55%, 13%, 40%)),
    url(../assets/images/luke-ellis-craven-400722.jpg),
    no-repeat;
    background-size: cover;
    background-position-x: 50px;
}
.researcher {
    background: 
    linear-gradient(.25deg, hsla(213,55%, 13%, 100%), hsla(213, 55%, 13%, 40%)),
    url(../assets/images/billetto-editorial-334686.jpg),
    no-repeat;
    background-size: cover;
    background-position-x: -200px;
}

.misc {
    margin-top: 28vh;
    max-width: calc(100% - 1.1em);
}
.misc-header {
    text-transform: uppercase;
    font-family: var(--headerFont-hx);
    margin-bottom: .7vh;
}
.misc-header__divider--deep {
    display: flex;
    margin-bottom: auto;
}
.misc-header__divider--deep > ul + ul,
.misc-price > p + p {
    margin-left: auto;
}
.misc-header__divider--deep > ul + ul > li {
    list-style: none;
    text-align: right;
}
.misc-header__divider--deep > ul {
    padding-left: 0;
}
.misc-header__divider--deep > ul:first-of-type > li {
    list-style: none;
}
.misc-header__divider--deep li {
    text-transform: uppercase;
    line-height: 1.6em;
    font-weight: 300;
}
.misc-header__span {
    color: var(--color-accent-high);
}
.misc-top__items .misc-text, .misc ul {
    padding-bottom: 2.8vh;
    margin-bottom: auto;
}
.misc-bottom__divider > .misc-text {
    margin: auto 0 0 0;
    padding: 1em 0 0 0;
}
.misc-price {
    display: flex;
}
.misc-button {
    cursor: pointer;
    text-transform: uppercase;
    padding: .6em 2em .4em;
    border: 2px solid var(--color-main-20);
    font-weight: 700;
    margin-top: 10px;
    transition: all .3s;
    text-align: center;
}
.misc-button:hover {
    background: var(--color-main-20);
    color: var(--color-accent-high);
}
.misc-cta {
    display: inline-block;
    padding: .5em 2em;
    text-align: center;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    transition: all .3s;
    border: 2px solid var(--color-main-20);
}
.misc-cta:hover {
    transform: scale(1.03);
}
.misc-bottom__img {
    margin-bottom: 5px;
}

footer {
    position: relative;
    display: grid;
    grid-template-areas: 
    "socials"
    "links"
    "copy"
    ;
    gap: 7.1vh 0;
    margin-top: 21.4vh;
    padding-bottom: 7.1vh;
    background: var(--color-main-20);
    color: var(--color-accent-low);
    font-weight: 300;
}
footer:before {
    content: '';
    position: absolute;
    background-image: url(../assets/images/footer-decor.svg);
    top: -171px;
    left: -140px;
    width: 120vw;
    height: 400px;
    z-index: -1;
}
footer > * {
    margin: 0 2.7em;
}
.links {
    display: grid;
    grid-template-areas: 
    "info inter"
    "other other"
    ;
    grid-area: links;
    gap: 2.2vh 0;
}
.links-header__info {
    grid-area: info;
}
.links-header__inter {
    grid-area: inter;
}
.links-header__other {
    grid-area: other;
}
.links-header {
    text-transform: capitalize;
    color: var(--color-accent-high);
    margin-bottom: 10px;
}
.links-divider ul {
    padding: 0;
}
.links-items {
    list-style: none;
    padding: 5px 0;
}
.links-items a {
    color: var(--color-accent-low);
    text-decoration: none;
    text-transform: capitalize;
}
.links-items a:hover {
    color: var(--color-accent-high);
}
.socials {
    max-width: 60vw;
    grid-area: socials;
    margin-top: 7.1vh;
}
.socials-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.4vh;
}
.copy {
    grid-area: copy;
}
.copy > * + * {
    padding-top: 2.8vh;
}

.copy-text a {
    color: var(--color-accent-high);
    font-size: 1.3rem;
}
.copy-text a:hover {
    color: var(--color-accent-low);
}
/* kids page */

.kids-margin {
    margin: 0 2.2em;
}
.kids-margin h1,
.jobs-margin h1,
.about-container h1,
.exhib-news h1 {
    max-width: max-content;
    padding: unset;
    margin: .5rem;
}
.flex-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 .5em;
}
.flex-content > * {
    margin: 2em 0 0;
    flex: 1 1 305px;
}
.kids-text {
    display: grid;
    place-items: center;
    font-weight: 300;
    line-height: 1.6em;
}
.kids-margin > .cta-btn__blue--big {
    background-color: var(--color-main-20);
    color: var(--color-accent-high);
    text-transform: uppercase;
    text-overflow: 700;
    font-size: calc(var(--font-size) + .2rem);
    margin: 2em 0 3em .5em;
}

.kids-margin > img {
    height: 100%;
}
.jobs-card + .jobs-card {
    margin-top: 2em;
}
.jobs-margin > p {
    font: 2rem var(--headerFont-hx);
    text-transform: uppercase;
    margin-left: .5rem
}
.jobs-card {
    cursor: pointer;
    background: rgb(242, 242, 242);
    border-radius: 5px;
    margin: .5rem;
    padding: 1rem;
    width: fit-content;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: transform .3s, background .4s, color .5s;   
}
.jobs-card:hover {
    transform: scale(1.01);
    background: var(--color-main-20);
    color: var(--color-accent-high);
    
}
.jobs-card h2 {
    margin-left: 0;
}
.jobs-card div {
    flex: 1 1 305px;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}
.jobs-card p {
    text-transform: uppercase;
}
.about-container img,
.exhib-news img {
    max-width: calc(100% - 1em);
    margin: .5em;
}
.about-container__text {
    margin: .5em;
}
.about-container__text p {
    font-weight: 300;
    line-height: 2em;
}
.about-container__text > p + p {
    margin-top: 2em;
}