/* HEADER MEDIA */
/* UL 508px */
@media only screen and (min-width: 1000px) {
    .logo-nav::before {
        content: '';
        position: absolute;
        top: -80px;
        right: 0;
        width: 520px;
        height: 10em;
        background: var(--color-main-20);
        clip-path: polygon(100% 50%,100% 71.5%, 2% 71.5%, 0% 62%, 2% 50%);
    }
    .nav-btn {
        display: none;
    }
    nav {
        height: auto;
    }
    .totals-menu {
        /* all: unset;  */
        display: flex;
        background-color: unset;
        width: max-content;
        top: 0;
        right: 0;
        left: unset;
        z-index: 10;
        overflow: visible;
        max-height: unset;
        box-shadow: unset;
    }
    .totals-menu>li:not(:first-of-type) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 150px;
    }
    .totals-menu>li>ul>li:hover,
    .totals-menu>li>ul>li:focus {
        animation-name: bouncy-color;
        animation-duration: 1.2s;
    }
    .totals-menu>li>ul>li>a:hover,
    .totals-menu>li>ul>li>a:focus {
        animation-name: unset;
    }
    header {
        height: auto;
    }
    .totals-menu > li:not(:first-of-type) + li > ul{
        background: var(--color-main-20);
        backdrop-filter: blur(8px);
        clear: both;
        border-radius: 0 0 10px 10px;
    }
    .totals-menu > li:not(:first-of-type) + li > ul li {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .info-cards__background::before {
        clip-path: polygon(0 0, 70% 0, 50% 100%, 0 100%);
    }
    .teachers {
        max-width: clamp(375px, 100vw, 1600px);
        margin: 3em .5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .teacher-image {
        display: block;
        background-image: url(../assets/images/luke-ellis-craven-400722.jpg);
        background-size: cover;
        background-position: center center;
        z-index: 1;
    }

    /* nav,
    .logo-nav,
    header,
    .header-background,
    body {
        all: unset;
    } */
}