@media (min-width: 697px) {

    .socials {
        max-width: 43vw;
    }
    .links {
        grid-template-areas: 
        "into inter other"
        ;
    }
    .flex-content:nth-child(3) {
        flex-flow: row-reverse;
    }
    .kids-margin div:nth-of-type(2) p {
        margin: 0 2em 0 0;
    }
    .kids-text {
        margin-left: 2em;
    }
}
